body {
  background-color: #F7ECE1;
  color: #503D51;
  /* font-size: 20px; */
  line-height: 20px;
}

h1, h2, h3 {
  color: #2D232E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.profile-content {
  background: #FFFF;
  border-radius: 5px;
  padding: 30px;
  margin: 15px;
  width: 300px;
  height: 450px;
}

.greater-container {

}


a {
  color: #EACBAE;
}

a:hover {
  color: #DEAC7D;
}

.img-circle {
  border-radius: 50%;
}

button {
  background-color: #FFFF;
  color: #C4745A;
  border: 2px solid #C06E52EA;
  border-radius: 10px;
  padding: 20px 40px;
}

button:hover {
  background-color: #C06E52EA;
  color: #FFFF;
}

.text-center {
  text-align: center;
}

ul {
  padding: 0px;
}
li {
  display: inline-block;
  padding: 0px 10px;
}

.footer {
  background: #FFFF;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
