body {
  background-color: #EBEBEB;
  font-family: 'Montserrat', sans-serif;
  color: #503D51;
  font-size: 20px;
  line-height: 20px;
}

h1, h2 {
  color: #120D31;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  color: #54A077;
}

a:hover {
  color: #6CB28A;
}

.btn-green {
  background-color: #54A077;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 20px 40px;
  text-decoration: none;
}

.btn-green:hover {
  background-color: #6CB28A;
  color: #FFFFFF;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.bio-card {
  background: #FFFF;
  border: 1px;
  border-radius: 5px;
  padding: 30px;
  margin: 15px;
  padding-bottom: 200px;
}

.text-section {
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

ul {
  padding: 0px;
}
li {
  display: inline-block;
  padding: 0px 10px;
}

.footer {
  background: #FFFF;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
